{% for message in display_thread.messages.all %}
    {% if message.sender == user %}
    <div class="sent-container">
        <p class="sent">{{message.content}}</p>
        <small class="time">{{message.created_at|date:"n/j/y, g:i a"}}</small>
        <i class="material-icons" message_id="{{message.id}}">delete</i>
    </div>
    {% else %}
    <div class="recieved-container">
        <p class="recieved">{{message.content}}</p>
        <small class="time">{{message.created_at|date:"n/j/y, g:i a"}}</small>
    </div>
    {% endif %}
{% endfor %}

<!-- Scroll starts at bottom -->
<Script>
    $('.msg-container').scrollTop($('.msg-container')[0].scrollHeight);
</Script>