{% load static %}
<!-- All reply comments -->
{% for comment in post.comments.all %}
<div class="card card-reply">
    <img src="{% static '' %}img/default-profiles/{{comment.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
    <div class="card-item card-item-content">
        <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
        <p>{{comment.content}}</p>
        <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/profile/{{comment.id}}/delete_post_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
    </div>
    <!-- Side icons -->
    <div class="card-item-icons c{{comment.id}}">
        {% if "userid" not in request.session %}
        <!-- If no one is logged in, non-clickable heart is displayed -->
        <i class="material-icons">favorite_border</i>
        {% elif user not in comment.likes.all %}
        <!-- "Like Comment" form -->
        <form action="/profile/like_post_comment" method="POST" class="like-post-comment-form" comment_id="{{comment.id}}">
            {% csrf_token %}
            <input type="hidden" name="like" value="{{comment.id}}">
            <button><i class="material-icons">favorite_border</i></button>
        </form>
        {% else %}
        <!-- "Unlike Comment" form -->
        <form action="/profile/like_post_comment" method="POST" class="like-post-comment-form" comment_id="{{comment.id}}">
            {% csrf_token %}
            <input type="hidden" name="like" value="{{comment.id}}">
            <button><i class="material-icons active">favorite</i></button>
        </form>
        {% endif %}
        <p>{{comment.likes.all|length}}</p>
    </div>
</div>
{% endfor %}

<!-- Display Reply Form if a user is logged in -->
{% if request.session.userid %}
<form action="/profile/{{post.id}}/comment_post" method="POST" class="post_comment_form" post_id ="{{post.id}}">
    {% csrf_token %}
    <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
    <div class="btn-container">
        <button class="btn btn-primary btn-post">Reply</button>
    </div>
</form>
{% else %}
<!-- don't display the form if no one is logged in -->
{% endif %}