{% extends 'base.html' %}
{% load static %}
{% load pkmn_extras %}

{% block js %}
    <script src="{% static 'pkmn.js' %}" defer></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block title %}| {{user.username|title}}{% endblock %}

<!------------------------ Body ------------------------>
{% block content %}

<!-- Left column content -->
<div class="column profile">
    <ul class="list-group">
        <li class="list-group-item">
            <h4>{{profile.first_name}} {{profile.last_name}}</h4>
            <h6>{{profile.username}}</h6>
            <!-- <img src="{% static '' %}img/default-profiles/{{profile.default_img}}.png" class="{{profile.bg_color}}"> -->
            <img src="{{profile.user_img.url}}" class="{{profile.bg_color}}" alt="profile picture">
            <!-- Display bio if one exists -->
            {% if profile.profile.bio != None %}
            <p>{{profile.profile.bio}}</p>
            {% endif %}
            <div class="follow-cnt">
                <p><span class="bold">{{profile.profile.following.all|length}}</span> Following</p>
                <p><span class="bold">{{profile.following.all|length}}</span> Follower{{profile.following.all|length|pluralize}}</p>
            </div>
        </li>
        {% if request.session.userid == profile.id %}
        <!-- Display "Edit profile" button if Profile belongs to user -->
        <li class="list-group-item interact">
            <button class="btn btn-secondary btn-profile" id="edit-profile">Edit Profile</button>
        </li>
        {% elif "userid" not in request.session %}
        <!-- Display nothing if no one is logged in -->
        {% else %}
        <!-- Display "follow" and "message" buttons -->
        <li class="list-group-item interact">
            {% if profile not in user.profile.following.all %}
                <!-- Follow profile if not already -->
                <form action="/profile/follow" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="follow" value="{{profile.id}}">
                    <button class="bold follow"><i class="material-icons">group_add</i> Follow</button>
                </form>
            {% else %}
                <!-- Unfollow profile -->
                <form action="/profile/follow" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="follow" value="{{profile.id}}">
                    <button class="active bold follow"><i class="material-icons">group_add</i> Following</button>
                </form>
            {% endif %}
                <p class="bold msg"><i class="material-icons">mail_outline</i> Message</p>
        </li>
        {% endif %}
        {% if profile.profile.location != None %}
        <!-- Display Location if one was given -->
        <li class="list-group-item striped">
            <p class="bold">Location</p>
            <span>{{profile.profile.location}}</span>
        </li>
        {% endif %}
        <li class="list-group-item striped">
            <p class="bold">Joined</p>
            <span>{{profile.created_at|date:"F Y"}}</span>
        </li>
        {% if profile.profile.pronouns != None %}
        <!-- Display pronouns if they were given -->
        <li class="list-group-item striped">
            <p class="bold">Pronouns</p>
            <span>{{profile.profile.pronouns}}</span>
        </li>
        {% endif %}
        <li class="list-group-item striped">
            <p class="bold">Posts</p>
            <span>{{profile.posts.all|length}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Reviews</p>
            <span>{{profile.reviews_added.all|length}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Favorites</p>
            <span>{{profile.favorites.all|length}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Teams</p>
            <span>{{profile.teams.all|length}}</span>
        </li>
    </ul>
</div><br><br><br>


<!---------- Right Column content ---------->
<div class="column posts" id="tabs">
    <ul class="tab-nav">
        <li class="bold"><a href="#tabs-1" class="active">Posts</a></li>
        <li class="bold"><a href="#tabs-2">Reviews</a></li>
        <li class="bold"><a href="#tabs-3">Favorites</a></li>
        <li class="bold"><a href="#tabs-4">Teams</a></li>
    </ul>

    <!-- 'Posts' Tab -->
    <div id="tabs-1">
        {% if request.session.userid != profile.id  %}
        <!-- If profile doesn't belong to user, don't display post form -->
        {% else %}
        <!-- Post Form -->
        <div class="card">
            <img src="{{profile.user_img.url}}" alt="profile pic" class="card-item user-img {{user.bg_color}} form-post-img">
            <form action="/profile/{{user.id}}/create_post" method="POST" id="post-form" userid="{{user.id}}">
                {% csrf_token %}
                <textarea class="form-control form-control-custom" name="post" rows="1" placeholder="What's on your mind?"></textarea>
                <small class="counter">255/255</small>
                <div class="btn-container">
                    <button class="btn btn-primary btn-post" disabled="true">Post</button>
                </div>
            </form>
        </div>
        {% endif %}

        <!-- Profile's Posts -->
        <div class="post-list">
            {% for post in profile.posts.all reversed %}
            <div class="card">
                <img src="{{post.added_by.user_img.url}}" alt="profile pic" class="card-item user-img {{post.added_by.bg_color}}">
                <div class="card-item card-item-content">
                    <a href="/profile/{{post.added_by.id}}"><p class="bold">{{post.added_by.first_name}} {{post.added_by.last_name}} </a><span>{{post.added_by.username}}</span></p>
                    <p>{{post.content}}</p>
                    <p class="time">{{post.created_at}} {% if request.session.userid == post.added_by.id %}| <a href="/profile/{{post.id}}/delete_post"><i class="material-icons">delete</i></a>{% endif %}</p>
                </div>
                <!-- Side icons -->
                <div class="card-item-icons p{{post.id}}">
                    {% if "userid" not in request.session %}
                    <!-- If no one is logged in, non-clickable heart is displayed -->
                    <i class="material-icons">favorite_border</i>
                    {% elif user not in post.likes.all %}
                    <!-- "Like Post" form -->
                    <form action="/profile/like_post" method="POST" class="like-post-form" post_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons">favorite_border</i></button>
                    </form>
                    {% else %}
                    <!-- "Unlike Post" form -->
                    <form action="/profile/like_post" method="POST" class="like-post-form" post_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons active">favorite</i></button>
                    </form>
                    {% endif %}
                    <p>{{post.likes.all|length}}</p>
                    <i class="material-icons reply" post_id="{{post.id}}">chat_bubble_outline</i>
                    <p>{{post.comments.all|length}}</p>
                </div>
                <!-- Display following Div when chat bubble is clicked -->
                <div class="comment comment_{{post.id}}">
                    <!-- All reply comments -->
                    {% for comment in post.comments.all %}
                    <div class="card card-reply">
                        <img src="{{comment.added_by.user_img.url}}" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
                        <div class="card-item card-item-content">
                            <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
                            <p>{{comment.content}}</p>
                            <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/profile/{{comment.id}}/delete_post_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
                        </div>
                        <!-- Side icons -->
                        <div class="card-item-icons c{{comment.id}}">
                            {% if "userid" not in request.session %}
                            <!-- If no one is logged in, non-clickable heart is displayed -->
                            <i class="material-icons">favorite_border</i>
                            {% elif user not in comment.likes.all %}
                            <!-- "Like Comment" form -->
                            <form action="/profile/like_post_comment" method="POST" class="like-post-comment-form" comment_id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="like" value="{{comment.id}}">
                                <button><i class="material-icons">favorite_border</i></button>
                            </form>
                            {% else %}
                            <!-- "Unlike Comment" form -->
                            <form action="/profile/like_post_comment" method="POST" class="like-post-comment-form" comment_id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="like" value="{{comment.id}}">
                                <button><i class="material-icons active">favorite</i></button>
                            </form>
                            {% endif %}
                            <p>{{comment.likes.all|length}}</p>
                        </div>
                    </div>
                    {% endfor %}
    
                    <!-- Display Reply Form if a user is logged in -->
                    {% if request.session.userid %}
                    <form action="/profile/{{post.id}}/comment_post" method="POST" class="post_comment_form" post_id ="{{post.id}}">
                        {% csrf_token %}
                        <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
                        <small class="counter comment-counter">255/255</small>
                        <div class="btn-container">
                            <button class="btn btn-primary btn-post" disabled>Reply</button>
                        </div>
                    </form>
                    {% else %}
                    <!-- don't display the form if no one is logged in -->
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <div class="card">
                <h5>No Posts yet!</h5>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- 'Reviews' tab -->
    <div id="tabs-2">
        {% for review in profile.reviews_added.all reversed %}
        <div class="card r{{review.id}}">
            <img src="{{review.pkmn.sprite_url}}" alt="profile pic" class="card-item pkmn-img">
            <div class="card-item card-item-content">
                <a href="/{{review.pkmn.id}}"><p class="bold">{{review.pkmn.name|title}}</p></a>
                <span class="n{{review.rating}} star">{{review.rating}}</span>
                <p>{{review.content}}</p>
                <p class="time">{{review.created_at}} {% if request.session.userid == review.added_by.id %}| <a href="/{{review.id}}/delete_review"><i class="material-icons">delete</i></a>{% endif %}</p>
            </div>
            <!-- Side icons -->
            <div class="card-item-icons r">
                {% if "userid" not in request.session %}
                <!-- If no one is logged in, non-clickable heart is displayed -->
                <i class="material-icons">favorite_border</i>
                {% elif user not in review.likes.all %}
                <!-- "Like Post" form -->
                <form action="/like_review" method="POST" id="like_form" review_id="{{review.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="like" value="{{review.id}}">
                    <button><i class="material-icons">favorite_border</i></button>
                </form>
                {% else %}
                <!-- "Unlike Post" form -->
                <form action="/like_review" method="POST" id="like_form" review_id="{{review.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="like" value="{{review.id}}">
                    <button><i class="material-icons active">favorite</i></button>
                </form>
                {% endif %}
                <p>{{review.likes.all|length}}</p>
                <!-- reply icon -->
                <i class="material-icons reply" review_id="{{review.id}}">chat_bubble_outline</i>
                <p>{{review.comments.all|length}}</p>
            </div>
            <!-- Display following Div when chat bubble is clicked -->
            <div class="comment review_comment_{{review.id}}">
                <!-- All reply comments -->
                {% for comment in review.comments.all %}
                <div class="card card-reply c{{comment.id}}">
                    <img src="{{comment.added_by.user_img.url}}" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
                    <div class="card-item card-item-content">
                        <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
                        <p>{{comment.content}}</p>
                        <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/{{comment.id}}/delete_review_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
                    </div>
                    <!-- Side icons -->
                    <div class="card-item-icons c">
                        {% if "userid" not in request.session %}
                        <!-- If no one is logged in, non-clickable heart is displayed -->
                        <i class="material-icons">favorite_border</i>
                        {% elif user not in comment.likes.all %}
                        <!-- "Like Comment" form -->
                        <form action="/like_review_comment" method="POST" class="like_form" comment_id="{{comment.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="like" value="{{comment.id}}">
                            <button><i class="material-icons">favorite_border</i></button>
                        </form>
                        {% else %}
                        <!-- "Unlike Comment" form -->
                        <form action="/like_review_comment" method="POST" class="like_form" comment_id="{{comment.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="like" value="{{comment.id}}">
                            <button><i class="material-icons active">favorite</i></button>
                        </form>
                        {% endif %}
                        <p>{{comment.likes.all|length}}</p>
                    </div>
                </div>
                {% endfor %}

                <!-- Display Reply Form if a user is logged in -->
                {% if request.session.userid %}
                <form action="/{{review.id}}/comment_review" method="POST" class="comment_form" review_id="{{review.id}}">
                    {% csrf_token %}
                    <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
                    <small class="counter comment-counter">255/255</small>
                    <div class="btn-container">
                        <button class="btn btn-primary btn-post" disabled>Reply</button>
                    </div>
                </form>
                {% else %}
                <!-- don't display the form if no one is logged in -->
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="card">
            <h5>No Reviews yet!</h5>
        </div>
        {% endfor %}
    </div>
    
    <!-- 'Favorites' tab -->
    <div id="tabs-3">
        <div class="card card-grid">
            {% for pokemon in profile.favorites.all reversed %}
            <a href="/{{pokemon.id}}">
                <img src="{{pokemon.sprite_url}}" alt="">
                <h6>{{pokemon.name|title}}</h6>
            </a>
            {% empty %}
            <h5>No Favorites yet!</h5>
            {% endfor %}
        </div>
    </div>
    
    <!-- 'Teams' tab -->
    <div id="tabs-4">
        {% for team in profile.teams.all reversed %}
        <div class="card">
            <h5 class="team-title"><a href="/team/{{team.id}}">{{team.name}}</a></h5>
            <div class="team-grid">
                {% for pokemon in team.pkmn.all|team_filler %}
                {% if pokemon == 0 %}
                <a href="/search/dex">
                    <img src="{% static '' %}img/default-profiles/{{pokemon}}.png" alt="placeholder icon">
                </a>
                {% else %}
                <a href="/{{pokemon.id}}">
                    <img src="{{pokemon.sprite_url}}" alt="">
                    <p>{{pokemon.name|title}}</p>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Side icons -->
            <div class="card-item-icons t{{team.id}}">
                {% if "userid" not in request.session %}
                <!-- If no one is logged in, non-clickable heart is displayed -->
                <i class="material-icons">favorite_border</i>
                {% elif user not in team.likes.all %}
                <!-- "Like Post" form -->
                <form action="/like_team" method="POST" class="like-team-form" team_id="{{team.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="like" value="{{team.id}}">
                    <button><i class="material-icons">favorite_border</i></button>
                </form>
                {% else %}
                <!-- "Unlike Post" form -->
                <form action="/like_team" method="POST" class="like-team-form" team_id="{{team.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="like" value="{{team.id}}">
                    <button><i class="material-icons active">favorite</i></button>
                </form>
                {% endif %}
                <p>{{team.likes.all|length}}</p>
                <!-- reply icon -->
                <i class="material-icons">chat_bubble_outline</i>
                <p>{{team.comments.all|length}}</p>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <h5>No Teams yet!</h5>
        </div>
        {% endfor %}
    </div>
    {{profile.user_img.url}}
</div>

{% if "userid" in request.session %}
{% if request.session.userid == profile.id %}
<!---------------- "Edit Profile" popup modal ---------------->
<div class="modal-bg">
    <div class="edit-profile-modal">
        <div class="modal-head">
            <h4>Edit Profile</h4>
            <p id="close">&#10005;</p>
        </div>
        <hr>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/profile/{{user.id}}/update" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="fname" value="{{user.first_name}}" class="form-control fname">
                <small class="error">Must be at least 2 characters</small>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lname" value="{{user.last_name}}" class="form-control lname">
                <small class="error">Must be at least 2 characters</small>
            </div>
            <div class="form-group">
                <label>Bio</label>
                <textarea name="bio" rows="4" class="form-control">{{user.profile.bio}}</textarea>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input type="text" name="location" value="{{user.profile.location}}" class="form-control">
            </div>
            <div class="form-group">
                <label>Pronouns</label>
                <input type="text" name="pronouns" value="{{user.profile.pronouns}}" class="form-control">
            </div>
            <hr>
            <h6>Choose profile photo</h6>
            <div class="img-container">
                <img src="/media/images/1m.png" id="1m">
                <img src="/media/images/4m.png" id="4m">
                <img src="/media/images/2m.png" id="2m">
                <img src="/media/images/3m.png" id="3m">
                <img src="/media/images/1f.png" id="1f">
                <img src="/media/images/4f.png" id="4f">
                <img src="/media/images/2f.png" id="2f">
                <img src="/media/images/3f.png" id="3f">
                <input type="hidden" name="img" id="img" value="{{user.user_img}}">
            </div>
            <h6 class="select">...or upload your own!</h6>
            <input type="file" name="img-uploaded" accept=".jpg, .jpeg, .png"><br>
            <small class="time">Must be .JPG, .JPEG, or .PNG file</small>
            <hr>
            <h6>Choose background color</h6>
            <div class="img-container colors">
                <span style="background-color: #272727;" color="gray"></span>
                <span style="background-color: #F20C32;" color="red"></span>
                <span style="background-color: #009DF1;" color="blue"></span>
                <span style="background-color: #198754;" color="green"></span>
                <span style="background-color: #ffc107;" color="yellow"></span>
                <span style="background-color: #6610f2;" color="purple"></span>
                <input type="hidden" name="color" id="color" value="{{user.bg_color}}">
            </div>
            <hr>
            <br>
            <button class="btn btn-primary">Update</button>
        </form>
        <button class="btn btn-secondary btn-del">Delete Profile</button>
    </div>
</div>
<!-- Confirm Profile Delete -->
<div class="confirm-bg">
    <div class="card">
        <p>Are you sure you want to delete your profile? <br> This cannot be undone.</p>
        <a class="btn btn-primary" href="/profile/delete_profile">Yes</a>
        <button class="btn btn-secondary">On second thought...</button>
    </div>
</div>
{% endif %}
{% endif %}
<!-- Follower/Following List -->
<div class="follow-list-modal">
    <div class="list">
        <div class="follow-list-control">
            <ul>
                <li class="active">Following</li>
                <li>Followers</li>
            </ul>
            <p>&#10005;</p>
        </div>
        <div class="follower-list">
            {% for follower in profile.following.all %}
            <a href="/profile/{{follower.user.id}}">
                <div class="card">
                    <img src="{% static '' %}img/default-profiles/{{follower.user.default_img}}.png" alt="profile pic" class="card-item user-img {{follower.user.bg_color}}">
                    <div class="card-item card-item-content">
                        <p class="bold">{{follower.user.first_name}} {{follower.user.last_name}}</p>
                        <small class="time">{{follower.user.username}}</small>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="following-list">
            {% for following in profile.profile.following.all %}
            <a href="/profile/{{following.id}}">
                <div class="card">
                    <img src="{% static '' %}img/default-profiles/{{following.default_img}}.png" alt="profile pic" class="card-item user-img {{following.bg_color}}">
                    <div class="card-item card-item-content">
                        <p class="bold">{{following.first_name}} {{following.last_name}}</p>
                        <small class="time">{{following.username}}</small>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}