body {
    counter-reset: rank-counter;
}
.wrapper {
    padding-top: 265px;
}
.column {
    max-width: 700px;
    margin: 0 auto;
}
.card h5 {
    font-size: .8em;
    text-align: center;
    width: 100%;
}
.list-group {
    flex-direction: row;
    overflow: auto;
    /* unset at 1080 */
    position: absolute;
    top: 90px;
    width: 93%;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
}
    /* Scroll bar styles */
    #style-4::-webkit-scrollbar {
      height: 5px;
      background-color: #444444;
    }
    #style-4::-webkit-scrollbar-thumb {
      background-color: #191919;
      border: 1px solid #444444;
      border-radius: 0.5rem;
    }
        #style-4::-webkit-scrollbar-thumb:hover {
        background-color: #090909;
        }
.list-group-item {
    color: var(--fifth);
    display: flex;
    align-items: center;
    background-color: var(--fourth);
    border: 1px solid rgb(255 255 255 / 13%);
}   
    /* Counter for Rankings */
    .list-group-item:not(:first-child)::before {
        counter-increment: rank-counter 1;
        content: counter(rank-counter) "";
        margin: 0 15px;
        font-size: 1.75em;
        font-weight: 700;
        color: rgb(117, 117, 117);
    }
    .list-group-item:not(:first-child) {
        padding: 1.5rem 1rem;
    }
    .list-group-item h5 {
        margin: 10px;
        line-height: 1.5em;
    }
    .list-group-item > * {
        margin-right: 15px;
    }
    .list-group-item a {
        text-align: center;
        width: 80%;
    }
    .list-group-item a img {
        height: 100px;
        transition: transform .2s;
    }
        .list-group-item a img:hover {
            transform: scale(1.0625)
        }
    .list-group-item .info {
        width: 100%;
    }
        .info a {
            text-align: left;
        }
    .list-group-item .icons {
        display: block;
        position: relative;
        align-items: center;
    }
    .list-group-item .icons h6 {
        margin-right: 0;
        margin-bottom: 5px;
        white-space: nowrap;
    }
    .list-group-item .icons i {
        font-size: 18px;
        position: relative;
        top: 3px;
        color: gray;
    }

/*-------------------- At 1080px --------------------*/
@media only screen and (min-width: 1080px) {
    .wrapper {
        padding-top: 100px;
    }
    .column {
        width: 58%;
        margin: 0;
    }
    .card h5 {
        font-size: 1em;
    }
    .rank {
        display: block;
        width: 39%;
    }
    .list-group {
        flex-direction: column;
        overflow: unset;
        position: static;
        width: 100%;
        left: unset;
        transform: unset;
    }
        .list-group-item:not(:first-child)::before {
            margin: 0 30px;
        }
        .list-group-item a img {
            width: 100%;
            height: unset;
        }
        .list-group-item .icons {
            display: flex;
        }
        .list-group-item .icons h6 {
            margin-right: 15px;
            margin-bottom: 0;   
        }
}