* {
    --primary: #F20C32;
    --secondary: #191919;
    --third: #009DF1;
    --fourth:#353535;
    --fifth: #ced4da;
}

/*-------------------- At 1080px --------------------*/
@media only screen and (min-width: 1080px) {
    .rank {
    display: block;
    width: 42%;
    }
    .list-group {
        margin-top: 30px;
    }
    .list-group-item {
        color: var(--fifth);
        display: flex;
        align-items: center;
        background-color: var(--fourth)
    }
        .list-group-item h5 {
            margin: 10px;
        }
        .list-group-item > * {
            margin-right: 15px;
        }
        .list-group-item img {
            width: 30%;
        }
        .list-group-item .info {
            width: 100%;
        } 
        .list-group-item h3 {
            margin-right: 15px;
            margin-left: 15px;
            font-size: 2.5em;
            color: gray;
        }
        .list-group-item .icons {
            display: flex;
            position: relative;
            align-items: center;
        }
        .list-group-item .icons h6 {
            margin-right: 15px;
        }
        .list-group-item .icons i {
            font-size: 18px;
            position: relative;
            top: 3px;
            color: gray;
        }


}