/* Team stat list styles */
.list-group-item {
    position: relative;
}
    /* Edit Team Button */
    .edit-team {
        position: absolute;
        font-size: 18px;
        right: 10px;
        top: 10px;
        color: gray;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        transition: transform .5s;
    }
    .edit-team:hover {
        color: inherit;
    }
        .edit-team:active {
                background-color: #444444;
                transform: scale(1.0625);
        }
.list-group-item .icons {
    margin-top: 15px;
    margin-bottom: 0;
    justify-content: center;
}
    .list-group-item h5 {
        margin: 0;
    }
    .list-group-item .icons form {
        width: initial;
    }
    .list-group-item .icons button {
        all: unset;
        cursor: pointer;
    }
        .list-group-item .icons button:hover {
            color: var(--third);
        }
        .list-group-item .icons button i {
            top: 2px;
        }
        .list-group-item .icons i {
            top: -1px;
            font-size: 18px;
            margin-right: 5px;
        }
.list-group-item#toggle-stats, .list-group-item#toggle-weakness {
    padding: .6rem 2.5rem;
    justify-content: space-around;
}        
    .list-group-item#toggle-stats p, .list-group-item#toggle-weakness p {
        margin: 0;
        font-size: .8em;
        cursor: pointer;
    }
        .list-group-item#toggle-stats p:hover, .list-group-item#toggle-weakness p:hover {
            color: var(--third);
        }

/* Weakness Rating Styles */
.chart-container {
    padding: 0;
}
    .chart-container table {
        margin: 0;
        color: white;
    }
    .chart-container table thead tr, .chart-container table  tbody tr:nth-of-type(even) {
        background-color: #444444;
    }
    .chart-container table tbody tr {
        border: transparent;
    }
    .chart-container table tr th:first-child {
        text-align: left;
        padding-left: 2rem;
    }
    .chart-container table th, .chart-container table td{
        vertical-align: middle;
    }
    .chart-container table i {
        position: relative;
        top: 4px;
    }
    .weak {
        color: var(--primary);
    }
    .resist {
        color: var(--third);
    }
    /* .immune {
        color: gray;
    } */
    .mid {
        font-weight: bold;
    }
    .high {
        font-weight: bold;
        font-size: 1.25em;
    }

/* Team Grid Styles */
.team-grid {
    display: grid;
    row-gap: 40px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.team-grid a {
    text-align: center;
    width: 100%;
}
    .team-grid a p {
        margin-bottom: .5rem;
    }
    .team-grid a img {
        background-color: #3a3a3a;
        width: 75%;
        border-radius: 10%;
        margin-bottom: 10px;
        transition: transform .2s;
    }
        .team-grid a img:hover {
            transform: scale(1.0625);
        }
.type-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.type {
    font-size: .5em;
    border-radius: 1rem;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
}

/*---------- Edit Team Modal ----------*/
.edit-profile-modal .team-grid {
    margin-top: 40px;
    margin-bottom: 40px;
    row-gap: 20px;
}
.remove-pkmn-container {
    text-align: center;
    position: relative;
}
    .remove-pkmn-container input {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .remove-pkmn-container input.form-check-input[type=checkbox] {
        border-radius: 50%;
        margin-top: 0;
        width: 1.5em;
        height: 1.5em;
        background-color: var(--fifth);
        cursor: pointer;
    }
    .remove-pkmn-container input.form-check-input[type=checkbox]:focus {
        box-shadow: 0 0 0 0.25rem rgb(241 40 73 / 30%);
    }
    .remove-pkmn-container input.form-check-input[type=checkbox]:checked {
        box-shadow: 0 0 0 0.25rem rgb(241 40 73 / 30%);
        background-color: var(--primary);
        background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=minus-sm');
        border: none;
    }
.edit-profile-modal .team-grid img {
    border-radius: 50%;
    width: 80%;
    background-color: #444444;
    cursor: initial;
}
    .edit-profile-modal .team-grid img:hover {
        transform: none
    }
.update {
    align-items: baseline;
}
.update p {
    margin: 0;
    margin-right: 10px;
    font-style: italic;
}
.update-toggle {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
    .update-toggle p {
        cursor: pointer;
        font-size: .75em;
        font-style: italic;
        color: gray;
    }
        .update-toggle p:hover {
            color: white;
        }

/*-------------------- At 550px --------------------*/
@media only screen and (min-width: 550px) {
    .team-grid {
        grid-template-columns: 1fr 1fr 1fr;
        /* width: 95%; */
    }
    .type {
        width: 70%;
    }
    /* .list-group-item.striped {
        display: block;
    } */
    
}

/*-------------------- At 1080px --------------------*/
@media only screen and (min-width: 1080px) {
    .type-container {
        flex-direction: row;
    }
    .type {
        width: 45%;
    }
}