body {
    position: initial;
}
.btn-container .reset-pw {
    font-size: .8em;
    color: gray;
}
    .btn-container .reset-pw:hover {
        color: white;
    }
.error, .error2 {
    color: var(--primary);
    display: none;
}
.logres {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: .5rem;
    background-color: var(--fourth);
}
.logres .form-row, .logres .form-group {
    margin-bottom: 15px;
}
.tag {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
}
    .tag h3 {
        font-size: 2em;
        line-height: 1.25em;
    }
    .tag h3 span {
        color: var(--third);
        font-weight: 700;
        font-size: 1em;
    }
    .tag img {
        width: 100%;
    }
.form-row div {
    position: relative;
}
    .form-row div i {
        display: none;
        position: absolute;
        top: 6px;
        right: 10px;
        color: var(--third);
    }
.logres.reset {
    margin: 0 auto;
}
.logres.reset form input[type="email"], .logres.reset form input[type="password"] {
    border-radius: .25rem;
    width: 100%;
    margin-bottom: 15px;
}
.logres.reset form input[type="email"]:focus-visible, .logres.reset form input[type="password"]:focus-visible {
    outline: unset;
}
.logres.reset form input[type="email"]:focus, .logres.reset form input[type="password"]:focus {
    border-color: #e58494;
    box-shadow: 0 0 0 0.25rem rgb(253 49 88 / 25%);
}
.logres.reset .helptext {
    display: none;
}
/*-------------------- At 550px --------------------*/
@media only screen and (min-width: 550px) {
    .logres, .tag {
        max-width: 500px;
        margin-top: 30px;
    }
}

/*-------------------- At 1080px --------------------*/
@media only screen and (min-width: 1080px) {
    .log-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 53%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 1200px;
    }
    .logres {
        position: initial;
        -ms-transform: none;
        transform: none;
        margin: 0;
    }
    .tag {
        margin: 0 auto;
        display: block;
        width: 500px;
    }
        .tag h3 {
            font-size: 2.25em;
            line-height: 1.25em;
        }
        .tag h3 span {
            color: var(--third);
            font-weight: 700;
        }
        .tag img {
            width: 500px;
        }
}