{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'pkmn.js' %}" defer></script>
{% endblock %}

{% block title %}| Home{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}

<!-- Left column content -->
<div class="column">
    <!-- Post Form -->
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{user.default_img}}.png" alt="profile pic" class="card-item user-img">
        <form action="" method="POST">
            {% csrf_token %}
            <textarea class="form-control form-control-custom" name="post" rows="1" placeholder="What's on your mind?"></textarea>
            <div class="btn-container">
                <button class="btn btn-primary btn-post">Post</button>
            </div>
        </form>
    </div>
    <!-- Timeline Feed -->
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{user.default_img}}.png" alt="profile pic" class="card-item user-img">
        <div class="card-item card-item-content">
            <p class="bold">John Doe <span>PKMaster</span></p>
            <p>Charizard sucks!!</p>
            <p class="time">3 minutes ago</p>
        </div>
        <div class="card-item-icons">
            <a href=""><i class="material-icons">favorite_border</i></a>
            <p>12</p>
            <a href=""><i class="material-icons">chat_bubble_outline</i></a>
            <p>345</p>
        </div>
    </div>
</div>

<!-- Right column content -->
<div class="column rank">
    <!-- Search bar -->
    <form action="" method="" role="search" class="search-form">
        {% csrf_token %}
        <input type="search" name="search" class="form-control" placeholder="Search DexApp">
        <button id="search"><i class="material-icons">search</i></button>
    </form>

    <ol class="list-group">
        <li class="list-group-item">
            <h5 class="bold">Top Pokemon</h5>
        </li>
        {% for pokemon in all_pokemon %}
        <li class="list-group-item">
            <h3 class="bold">1</h3>
            <img src="{{pokemon.art_url}}" alt="{{pokemon.name}}'s official art">
            <div class="info">
                <h6 class="bold">{{pokemon.name|title}}</h6>
                <div class="icons">
                    <h6><i class="material-icons">favorite</i> 66</h6>
                    <h6><i class="material-icons">star</i> 66</h6>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>

    <ul class="list-group">

        
    </ul>
</div>


{% endblock %}