{% extends 'base.html' %}
{% load static %}
{% load pkmn_extras %}

{% block style %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block title %}| Home{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}

<!-- Left column content -->
<div class="column">
    {% if "userid" not in request.session %}
    <!-- If no one is logged in, don't display post form -->
    {% else %}
    <!-- Post Form -->
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{user.default_img}}.png" alt="profile pic" class="card-item user-img {{user.bg_color}} form-post-img">
        <form action="/profile/{{user.id}}/create_post" method="POST" id="post-form" userid="{{user.id}}" post-index="True">
            {% csrf_token %}
            <textarea class="form-control form-control-custom" name="post" rows="1" placeholder="What's on your mind?"></textarea>
            <small class="counter">255/255</small>
            <div class="btn-container">
                <button class="btn btn-primary btn-post" disabled>Post</button>
            </div>
        </form>
    </div>
    {% endif %}

    <!-- Timeline Feed -->
    <div class="timeline">
        {% for key, post in timeline.items reversed %}
            {% if post.rating %}
            <!---------------------- this is a review ---------------------->
            <div class="card r{{post.id}}">
                <img src="{{post.pkmn.sprite_url}}" alt="profile pic" class="card-item pkmn-img">
                <div class="card-item card-item-content card-item-review">
                    <p>
                        {% if post.added_by.id == request.session.userid %}
                        You
                        {% else %}
                        <a href="/profile/{{post.added_by.id}}" class="bold">{{post.added_by.username}}</a>
                        {% endif %} 
                        reviewed <a href="/{{post.pkmn.id}}" class="bold">{{post.pkmn.name|title}}</a>
                    </p>
                    <span class="n{{post.rating}} star">{{post.rating}}</span>
                    <p>{{post.content}}</p>
                    <p class="time">{{post.created_at|timesince}} ago {% if request.session.userid == post.added_by.id %}| <a href="/{{post.id}}/delete_review"><i class="material-icons">delete</i></a>{% endif %}</p>
                </div>
                <!-- Side icons -->
                <div class="card-item-icons r">
                    {% if "userid" not in request.session %}
                    <!-- If no one is logged in, non-clickable heart is displayed -->
                    <i class="material-icons">favorite_border</i>
                    {% elif user not in post.likes.all %}
                    <!-- "Like Post" form -->
                    <form action="/like_review" method="POST" id="like_form" review_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons">favorite_border</i></button>
                    </form>
                    {% else %}
                    <!-- "Unlike Post" form -->
                    <form action="/like_review" method="POST" id="like_form" review_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons active">favorite</i></button>
                    </form>
                    {% endif %}
                    <p>{{post.likes.all|length}}</p>
                    <!-- reply icon -->
                    <i class="material-icons reply" review_id="{{post.id}}">chat_bubble_outline</i>
                    <p>{{post.comments.all|length}}</p>
                </div>
                <!-- Display following Div when chat bubble is clicked -->
                <div class="comment review_comment_{{post.id}}">
                    <!-- All reply comments -->
                    {% for comment in post.comments.all %}
                    <div class="card card-reply c{{comment.id}}">
                        <img src="{% static '' %}img/default-profiles/{{comment.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
                        <div class="card-item card-item-content">
                            <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
                            <p>{{comment.content}}</p>
                            <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/{{comment.id}}/delete_review_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
                        </div>
                        <!-- Side icons -->
                        <div class="card-item-icons c">
                            {% if "userid" not in request.session %}
                            <!-- If no one is logged in, non-clickable heart is displayed -->
                            <i class="material-icons">favorite_border</i>
                            {% elif user not in comment.likes.all %}
                            <!-- "Like Comment" form -->
                            <form action="/like_review_comment" method="POST" class="like_form" comment_id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="like" value="{{comment.id}}">
                                <button><i class="material-icons">favorite_border</i></button>
                            </form>
                            {% else %}
                            <!-- "Unlike Comment" form -->
                            <form action="/like_review_comment" method="POST" class="like_form" comment_id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="like" value="{{comment.id}}">
                                <button><i class="material-icons active">favorite</i></button>
                            </form>
                            {% endif %}
                            <p>{{comment.likes.all|length}}</p>
                        </div>
                    </div>
                    {% endfor %}
    
                    <!-- Display Reply Form if a user is logged in -->
                    {% if request.session.userid %}
                    <form action="/{{post.id}}/comment_review" method="POST" class="comment_form" review_id="{{post.id}}">
                        {% csrf_token %}
                        <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
                        <small class="counter comment-counter">255/255</small>
                        <div class="btn-container">
                            <button class="btn btn-primary btn-post" disabled>Reply</button>
                        </div>
                    </form>
                    {% else %}
                    <!-- don't display the form if no one is logged in -->
                    {% endif %}
                </div>
            </div>
            {% elif post.user %}
            <!---------------------- this is a team ---------------------->
            <div class="card">
                <p class="team-title">
                    {% if post.user.id == request.session.userid %}
                    You
                    {% else %}
                    <a href="/profile/{{post.user.id}}" class="bold">{{post.user.username}}</a>
                    {% endif %} 
                    created the team, <a href="/team/{{post.id}}" class="bold">{{post.name}}</a>
                </p>
                <!-- <p class="time">{{post.created_at|timesince}} ago</p> -->
                <div class="team-grid-index">
                    {% for pokemon in post.pkmn.all|team_filler %}
                    {% if pokemon == 0 %}
                    <a href="/search/dex">
                        <img src="{% static '' %}img/default-profiles/{{pokemon}}.png" alt="placeholder icon">
                    </a>
                    {% else %}
                    <a href="/{{pokemon.id}}">
                        <img src="{{pokemon.sprite_url}}" alt="{{pokemon.name}}'s sprite">
                    </a>
                    {% endif %}
                    {% endfor %}
                    
                </div>
                <!-- Side icons -->
                <div class="card-item-icons t{{post.id}}">
                    {% if "userid" not in request.session %}
                    <!-- If no one is logged in, non-clickable heart is displayed -->
                    <i class="material-icons">favorite_border</i>
                    {% elif user not in post.likes.all %}
                    <!-- "Like Post" form -->
                    <form action="/like_team" method="POST" class="like-team-form" team_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons">favorite_border</i></button>
                    </form>
                    {% else %}
                    <!-- "Unlike Post" form -->
                    <form action="/like_team" method="POST" class="like-team-form" team_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons active">favorite</i></button>
                    </form>
                    {% endif %}
                    <p>{{post.likes.all|length}}</p>
                    <!-- reply icon -->
                    <i class="material-icons">chat_bubble_outline</i>
                    <p>{{post.comments.all|length}}</p>
                    <!-- Delete icon -->
                    <!-- {% if request.session.userid == post.user.id %}
                    <a href="/{{post.id}}/delete_team"><i class="material-icons delete">delete</i></a>
                    {% endif %} -->
                </div>
            </div>
            {% else %}
            <!---------------------- this is a post ---------------------->
            <div class="card">
                <img src="{% static '' %}img/default-profiles/{{post.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{post.added_by.bg_color}}">
                <div class="card-item card-item-content">
                    <a href="/profile/{{post.added_by.id}}"><p class="bold">{{post.added_by.first_name}} {{post.added_by.last_name}} </a><span>{{post.added_by.username}}</span></p>
                    <p>{{post.content}}</p>
                    <p class="time">{{post.created_at|timesince}} ago {% if request.session.userid == post.added_by.id %}| <a href="/profile/{{post.id}}/delete_post"><i class="material-icons">delete</i></a>{% endif %}</p>
                </div>
                <!-- Side icons -->
                <div class="card-item-icons p{{post.id}}">
                    {% if "userid" not in request.session %}
                    <!-- If no one is logged in, non-clickable heart is displayed -->
                    <i class="material-icons">favorite_border</i>
                    {% elif user not in post.likes.all %}
                    <!-- "Like Post" form -->
                    <form action="/profile/like_post" method="POST" class="like-post-form" post_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons">favorite_border</i></button>
                    </form>
                    {% else %}
                    <!-- "Unlike Post" form -->
                    <form action="/profile/like_post" method="POST" class="like-post-form" post_id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{post.id}}">
                        <button><i class="material-icons active">favorite</i></button>
                    </form>
                    {% endif %}
                    <p>{{post.likes.all|length}}</p>
                    <i class="material-icons reply" post_id="{{post.id}}">chat_bubble_outline</i>
                    <p>{{post.comments.all|length}}</p>
                </div>
                <!-- Display following Div when chat bubble is clicked -->
                <div class="comment comment_{{post.id}}">
                    <!-- All reply comments -->
                    {% for comment in post.comments.all %}
                    <div class="card card-reply">
                        <img src="{% static '' %}img/default-profiles/{{comment.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
                        <div class="card-item card-item-content">
                            <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
                            <p>{{comment.content}}</p>
                            <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/profile/{{comment.id}}/delete_post_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
                        </div>
                        <!-- Side icons -->
                        <div class="card-item-icons c{{comment.id}}"">
                            {% if "userid" not in request.session %}
                            <!-- If no one is logged in, non-clickable heart is displayed -->
                            <i class="material-icons">favorite_border</i>
                            {% elif user not in comment.likes.all %}
                            <!-- "Like Comment" form -->
                            <form action="/profile/like_post_comment" method="POST" class="like-post-comment-form" comment_id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="like" value="{{comment.id}}">
                                <button><i class="material-icons">favorite_border</i></button>
                            </form>
                            {% else %}
                            <!-- "Unlike Comment" form -->
                            <form action="/profile/like_post_comment" method="POST" class="like-post-comment-form" comment_id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="like" value="{{comment.id}}">
                                <button><i class="material-icons active">favorite</i></button>
                            </form>
                            {% endif %}
                            <p>{{comment.likes.all|length}}</p>
                        </div>
                    </div>
                    {% endfor %}
        
                    <!-- Display Reply Form if a user is logged in -->
                    {% if request.session.userid %}
                    <form action="/profile/{{post.id}}/comment_post" method="POST" class="post_comment_form" post_id ="{{post.id}}">
                        {% csrf_token %}
                        <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
                        <small class="counter comment-counter">255/255</small>
                        <div class="btn-container">
                            <button class="btn btn-primary btn-post" disabled>Reply</button>
                        </div>
                    </form>
                    {% else %}
                    <!-- don't display the form if no one is logged in -->
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

<!-- Right column content -->
<div class="column rank">
    <!-- Top 10 Pokemon ordered by "Likes" -->
    <ol class="list-group" id="style-4">
        <li class="list-group-item">
            <h5 class="bold">Top 10 Pokemon</h5>
        </li>
        {% for pokemon in all_pokemon %}
        <li class="list-group-item">
            <!-- Rank number here from CSS -->
            <a href="/{{pokemon.id}}"><img src="{{pokemon.art_url}}" alt="{{pokemon.name}}'s official art"></a>
            <div class="info">
                <a href="/{{pokemon.id}}"><h6 class="bold">{{pokemon.name|title}}</h6></a>
                <div class="icons">
                    <h6><i class="material-icons">favorite</i> {{pokemon.favorited_by.all|length}}</h6>
                    <h6><i class="material-icons">star</i> {{pokemon.id|rating_avg}}</h6>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>

</div>


{% endblock %}