{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'pkmn.js' %}" defer></script>
{% endblock %}

{% block title %}| Home{% endblock %}

{% block main_nav %}
{% if request.session.userid %}
    <li class="bold"><a href="/{{user.id}}">{{user.username}}</a></li>
    <li class="bold"><a href="/logout">Logout</a></li>
    {% else %}
    <li class="bold"><a href="/login/register">Sign Up</a></li>
    <li class="bold"><a href="/login/">Login</a></li>  
{% endif %}
{% endblock %}

{% block mobile_nav %}
{% if request.session.userid %}
<li class="list-group-item bold"><a href="/{{user.id}}">{{user.username}}</a></li>
    <li class="list-group-item bold"><a href="/logout">Logout</a></li> 
    {% else %}
    <li class="list-group-item bold"><a href="/login/">Login</a></li> 
    <li class="list-group-item bold"><a href="/login/register">Sign Up</a></li>
{% endif %}
{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}
<div class="column">
    <h2>Popular Pokemon</h2>
    <div class="card-grid">
        {% for pkmn in all_pokemon %}
        <a href="/pkmn/{{pkmn.id}}">
            <div class="card">
                <h3>#{{pkmn.id}}</h3>
                <img src="{{pkmn.art_url}}" alt="{{pkmn.name}}'s official art">
                <h2>{{pkmn.name}}</h2>
            </div>
        </a>
        {% endfor %}
        <!-- display pokemon from API here -->
    </div><!-- card-grid -->
</div><!-- column -->


<!-- Status Updates -->
<div class="column feed">
    <ul class="list-group">
        <li class="list-group-head">
            <h3>Status Updates</h3>
        </li>
        {% for status in statuses reversed %}
        <li class="list-group-item">
            <div class="comment-head">
                <img src="{% static '' %}img/default-profiles/{{status.added_by.default_img}}.png" style="background-color: #{{status.added_by.bg_color}};" alt="profile pic" class="comments-user-img">
                <div>
                    <a href="/{{status.added_by.id}}"><h5>{{status.added_by.username}}</h5></a>
                    <small>{{status.created_at | timesince}} ago</small>
                </div>
            </div>
            <p>{{status.content}}</p>
        </li>
        {% endfor %}
    </ul>

    <ul class="list-group">
        <li class="list-group-head">
            <h3>Recent Reviews</h3>
        </li>
        {% for review in reviews reversed %}
        <li class="list-group-item">
            <a href="/pkmn/{{review.pkmn.id}}"><h5>{{review.pkmn.name | title}}</h5></a>
            <span class="n{{review.rating}} star"></span>
            <p>{{review.content}}
            </p>
            <p><a href="/{{review.added_by.id}}">{{review.added_by.username}}</a>  <small>{{review.created_at | timesince}} ago</small></p>
        </li>
        {% empty %}
        <li class="list-group-item">
            <h5>No reviews yet!</h5>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}