{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'pkmn.js' %}" defer></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'pkmn.css' %}">
{% endblock %}

{% block title %}| {{pokemon.name | title}}{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}

<!-- Left Column Content -->
<div class="column profile">
    <ul class="list-group">
        <li class="list-group-item">
            <h4>{{pokemon.name|title}}</h4>
            {% if pokemon.id < 10 %}
                <h6>#00{{pokemon.id}}</h6>
                {% elif pokemon.id < 100 %}
                <h6>#0{{pokemon.id}}</h6>
                {% else %}
                <h6>#{{pokemon.id}}</h6>
            {% endif %}
            <img src="{{pokemon.art_url}}" alt="{{pokemon.name}}'s game sprite">
            <!-- Rankings/ Favorites -->
            <div class="icons">
                <h5 class="bold"><i class="material-icons">favorite</i> {{pokemon.favorited_by.all | length}}</h5>
                <h5 class="bold"><i class="material-icons">star</i> {{average}}</h5>
            </div>
        </li>
        <li class="list-group-item types bold">
            <!-- append types here -->
        </li>
        <li class="list-group-item striped">
            <p class="bold">Base Stat Total</p>
            <span>00</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Height</p>
            <span>{{pokemon.height}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Weight</p>
            <span>{{pokemon.weight}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Reviews</p>
            <span>{{pokemon.reviews.all|length}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Featured on {{pokemon.teams.all|length}} team{{pokemon.teams.all|length|pluralize}}!</p>
            <a href="">See all <i class="material-icons">chevron_right</i></a>
        </li>
        <!-- If no one is logged in, following row is not displayed -->
        <li class="list-group-item striped">
            {% if "userid" in request.session %}
            <button class="btn btn-secondary"><i class="material-icons">add</i> Add to Team</button>
                {% if user not in pokemon.favorited_by.all %}
                <!-- Add Pokemon to favorites if user has not favorited -->
                <form action="/favorite" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pokemon" value="{{pokemon.id}}">
                    <button class="btn btn-secondary"><i class="material-icons">favorite_border</i> Favorite</button>
                </form>
                {% else %}
                <!-- Remove Pokemon from favorites -->
                <form action="/favorite" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pokemon" value="{{pokemon.id}}">
                    <button class="btn btn-secondary"><i class="material-icons">favorite</i> Unfavorite</button>
                </form>
                {% endif %}
            {% else %}
            <p class="bold">Log in to create a team!</p>
            {% endif %}
        </li>
        <li class="list-group-item striped">
            <div class="pokenav">
                <a href="/{{prev_num}}">
                    <i class="material-icons">arrow_back</i>
                    <img src="{{prev}}">
                </a>
            </div>
            <div class="pokenav">
                <a href="/{{next_num}}">
                    <img src="{{next}}">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </div>
        </li>
    </ul>
    <!-- Passing Pokemon's ID to javascript -->
    <forjs id = "{{pokemon.id}}"></forjs>
</div><br><br><br>


<!---- Right column content ---->  
<div class="column posts">
    {% if "userid" not in request.session %}
    <!-- If profile doesn't belong to user, don't display post form -->
    <div class="card">
        <h5>Log in or create an account to leave a review!</h5>
    </div>
    {% else %}
    <!-- Review Form -->
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{user.default_img}}.png" alt="profile pic" class="card-item user-img {{user.bg_color}}">
        <form action="/profile/{{user.id}}/create_post" method="POST">
            {% csrf_token %}
            <textarea class="form-control form-control-custom" name="post" rows="2" placeholder="What do you think of {{pokemon.name | title}}?"></textarea>
            <div class="btn-container">
                <div class="form-row">
                    <label>Rating</label>
                    <select name="rating"  class="form-control form-control-custom">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-post">Post</button>
            </div>
        </form>
    </div>
    {% endif %}


    <!-------- Reviews List -------->
    {% for review in pokemon.reviews.all reversed %}
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{review.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{review.added_by.bg_color}}">
        <div class="card-item card-item-content">
            <a href="/profile/{{review.added_by.id}}"><p class="bold">{{review.added_by.first_name}} {{review.added_by.last_name}} </a><span>{{review.added_by.username}}</span></p>
            <span class="n{{review.rating}} star">{{review.rating}}</span>
            <p>{{review.content}}</p>
            <p class="time">{{review.created_at}} {% if request.session.userid == review.added_by.id %}| <a href="/profile/{{review.id}}/delete_review"><i class="material-icons">delete</i></a>{% endif %}</p>
        </div>
        <!-- Side icons -->
        <div class="card-item-icons">
            {% if "userid" not in request.session %}
            <!-- If no one is logged in, non-clickable heart is displayed -->
            <i class="material-icons">favorite_border</i>
            {% elif user not in review.likes.all %}
            <!-- "Like Post" form -->
            <form action="/like_review" method="POST">
                {% csrf_token %}
                <input type="hidden" name="like" value="{{review.id}}">
                <button><i class="material-icons">favorite_border</i></button>
            </form>
            {% else %}
            <!-- "Unlike Post" form -->
            <form action="/like_review" method="POST">
                {% csrf_token %}
                <input type="hidden" name="like" value="{{review.id}}">
                <button><i class="material-icons active">favorite</i></button>
            </form>
            {% endif %}
            <!-- reply icon -->
            <p>{{review.likes.all|length}}</p>
            <i class="material-icons reply" review_id="{{review.id}}">chat_bubble_outline</i>
            <p>{{review.comments.all|length}}</p>
        </div>
        <!-- Display following Div when chat bubble is clicked -->
        <div class="comment comment_{{review.id}}">
            {% if request.session.userid %}
            <!-- Display Reply Form if a user is logged in -->
            <form action="/{{review.id}}/comment_review" method="POST" class="comment_form">
                {% csrf_token %}
                <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
                <div class="btn-container">
                    <button class="btn btn-primary btn-review">Reply</button>
                </div>
            </form>
            {% else %}
            <!-- don't display the form if no one is logged in -->
            {% endif %}
            <!-- All reply comments -->
            {% if review.comments.all %}
            <!-- If any comments exist, dispaly them -->
            {% for comment in review.comments.all %}
            <div class="card card-reply">
                <img src="{% static '' %}img/default-profiles/{{comment.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
                <div class="card-item card-item-content">
                    <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
                    <p>{{comment.content}}</p>
                    <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/profile/{{comment.id}}/delete_review_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
                </div>
                <!-- Side icons -->
                <div class="card-item-icons">
                    {% if "userid" not in request.session %}
                    <!-- If no one is logged in, non-clickable heart is displayed -->
                    <i class="material-icons">favorite_border</i>
                    {% elif user not in comment.likes.all %}
                    <!-- "Like Comment" form -->
                    <form action="/like_review_comment" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{comment.id}}">
                        <button><i class="material-icons">favorite_border</i></button>
                    </form>
                    {% else %}
                    <!-- "Unlike Comment" form -->
                    <form action="/like_review_comment" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{comment.id}}">
                        <button><i class="material-icons active">favorite</i></button>
                    </form>
                    {% endif %}
                    <p>{{comment.likes.all|length}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}