{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'pkmn.css' %}">
{% endblock %}

{% block title %}| {{pokemon.name | title}}{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}

<!-- Left Column Content -->
<div class="column profile">
    <ul class="list-group">
        <li class="list-group-item">
            <h4>{{pokemon.name|title}}</h4>
            {% if pokemon.id < 10 %}
                <h6>#00{{pokemon.id}}</h6>
                {% elif pokemon.id < 100 %}
                <h6>#0{{pokemon.id}}</h6>
                {% else %}
                <h6>#{{pokemon.id}}</h6>
            {% endif %}
            <img src="{{pokemon.art_url}}" alt="{{pokemon.name}}'s game sprite">
            <!-- Rankings/ Favorites -->
            <div class="icons">
                <h5 class="bold"><i class="material-icons">favorite</i> {{pokemon.favorited_by.all | length}}</h5>
                <h5 class="bold"><i class="material-icons">star</i> {{average}}</h5>
            </div>
        </li>
        <li class="list-group-item types bold">
            {% for type in pokemon.types.all %}
            <span class="type {{type.name}}">{{type.name}}</span>
            {% endfor %}
        </li>
        <li class="list-group-item striped">
            <p class="bold">Base Stat Total</p>
            <span>{{total}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">HP</p>
            <span>{{pokemon.hp}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Attack</p>
            <span>{{pokemon.attack}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Defense</p>
            <span>{{pokemon.defense}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Special Attack</p>
            <span>{{pokemon.sp_attack}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Special Defense</p>
            <span>{{pokemon.sp_defense}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Speed</p>
            <span>{{pokemon.speed}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Reviews</p>
            <span>{{pokemon.reviews.all|length}}</span>
        </li>
        <li class="list-group-item striped">
            <p class="bold">Featured on {{pokemon.teams.all|length}} team{{pokemon.teams.all|length|pluralize}}!</p>
        </li>
        <li class="list-group-item striped btn-stacked">
            {% if "userid" in request.session %}
            <button class="btn btn-secondary" id="add-to-team"><i class="material-icons">add</i> Add to Team</button>
                {% if user not in pokemon.favorited_by.all %}
                <!-- Add Pokemon to favorites if user has not favorited -->
                <form action="/favorite" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pokemon" value="{{pokemon.id}}">
                    <button class="btn btn-secondary"><i class="material-icons">favorite_border</i> Favorite</button>
                </form>
                {% else %}
                <!-- Remove Pokemon from favorites -->
                <form action="/favorite" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pokemon" value="{{pokemon.id}}">
                    <button class="btn btn-secondary active"><i class="material-icons">favorite</i> Unfavorite</button>
                </form>
                {% endif %}
            {% else %}
            <p class="bold">Log in to create a team!</p>
            {% endif %}
        </li>
        <li class="list-group-item striped">
            <div class="pokenav">
                <a href="/{{prev_num}}">
                    <i class="material-icons">arrow_back</i>
                    <img src="{{prev}}">
                </a>
            </div>
            <div class="pokenav">
                <a href="/{{next_num}}">
                    <img src="{{next}}">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </div>
        </li>
    </ul>
</div><br><br><br>

<!---- Right column content ---->  
<div class="column posts">
    <tojs pkmn_id="{{pokemon.id}}">
    {% if "userid" not in request.session %}
    <!-- If profile doesn't belong to user, don't display post form -->
    <div class="card">
        <h5>Log in or create an account to leave a review!</h5>
    </div>
    {% else %}
    <!-- Review Form -->
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{user.default_img}}.png" alt="profile pic" class="card-item user-img {{user.bg_color}} form-post-img">
        <form action="/{{pokemon.id}}/create_review" method="POST" id="review-form">
            {% csrf_token %}
            <textarea class="form-control form-control-custom" name="review" rows="2" placeholder="What do you think of {{pokemon.name | title}}?"></textarea>
            <small class="counter review-counter">255/255</small>
            <div class="btn-container">
                <div class="form-row">
                    <label>Rating</label>
                    <select name="rating"  class="form-control form-control-custom">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-post" disabled>Post</button>
            </div>
        </form>
    </div>
    {% endif %}


    <!-------- Reviews List -------->
    <div class="review-list">
        {% for review in pokemon.reviews.all reversed %}
        <div class="card r{{review.id}}">
            <img src="{% static '' %}img/default-profiles/{{review.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{review.added_by.bg_color}}">
            <div class="card-item card-item-content">
                <a href="/profile/{{review.added_by.id}}"><p class="bold">{{review.added_by.first_name}} {{review.added_by.last_name}} </a><span>{{review.added_by.username}}</span></p>
                <span class="n{{review.rating}} star">{{review.rating}}</span>
                <p>{{review.content}}</p>
                <p class="time">{{review.created_at}} {% if request.session.userid == review.added_by.id %}| <a href="/{{review.id}}/delete_review"><i class="material-icons">delete</i></a>{% endif %}</p>
            </div>
            <!-- Side icons -->
            <div class="card-item-icons r">
                {% if "userid" not in request.session %}
                <!-- If no one is logged in, non-clickable heart is displayed -->
                <i class="material-icons">favorite_border</i>
                {% elif user not in review.likes.all %}
                <!-- "Like Post" form -->
                <form action="/like_review" method="POST" id="like_form" review_id="{{review.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="like" value="{{review.id}}">
                    <button><i class="material-icons">favorite_border</i></button>
                </form>
                {% else %}
                <!-- "Unlike Post" form -->
                <form action="/like_review" method="POST" id="like_form" review_id="{{review.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="like" value="{{review.id}}">
                    <button><i class="material-icons active">favorite</i></button>
                </form>
                {% endif %}
                <p>{{review.likes.all|length}}</p>
                <!-- reply icon -->
                <i class="material-icons reply" review_id="{{review.id}}">chat_bubble_outline</i>
                <p>{{review.comments.all|length}}</p>
            </div>
            <!-- Display following Div when chat bubble is clicked -->
            <div class="comment review_comment_{{review.id}}">
                <!-- All reply comments -->
                {% for comment in review.comments.all %}
                <div class="card card-reply c{{comment.id}}">
                    <img src="{% static '' %}img/default-profiles/{{comment.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
                    <div class="card-item card-item-content">
                        <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
                        <p>{{comment.content}}</p>
                        <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/{{comment.id}}/delete_review_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
                    </div>
                    <!-- Side icons -->
                    <div class="card-item-icons c">
                        {% if "userid" not in request.session %}
                        <!-- If no one is logged in, non-clickable heart is displayed -->
                        <i class="material-icons">favorite_border</i>
                        {% elif user not in comment.likes.all %}
                        <!-- "Like Comment" form -->
                        <form action="/like_review_comment" method="POST" class="like_form" comment_id="{{comment.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="like" value="{{comment.id}}">
                            <button><i class="material-icons">favorite_border</i></button>
                        </form>
                        {% else %}
                        <!-- "Unlike Comment" form -->
                        <form action="/like_review_comment" method="POST" class="like_form" comment_id="{{comment.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="like" value="{{comment.id}}">
                            <button><i class="material-icons active">favorite</i></button>
                        </form>
                        {% endif %}
                        <p>{{comment.likes.all|length}}</p>
                    </div>
                </div>
                {% endfor %}

                <!-- Display Reply Form if a user is logged in -->
                {% if request.session.userid %}
                <form action="/{{review.id}}/comment_review" method="POST" class="comment_form" review_id="{{review.id}}">
                    {% csrf_token %}
                    <textarea name="comment" class="form-control form-control-custom" rows="1" placeholder="Leave a reply..."></textarea>
                    <small class="counter comment-counter">255/255</small>
                    <div class="btn-container">
                        <button class="btn btn-primary btn-post" disabled>Reply</button>
                    </div>
                </form>
                {% else %}
                <!-- don't display the form if no one is logged in -->
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="card">
            <h5>Be the first to leave a review!</h5>
        </div>
        {% endfor %}
    </div>
</div>


{% if "userid" in request.session %}
<!------------ Add to Team Modal ------------>
<div class="modal-bg">
    <!-- Add to team -->
    <div class="edit-profile-modal">
        <tojs pkmn_id="{{pokemon.id}}">
        <div class="modal-head">
            <h4>Add to...</h4>
            <p id="close">&#10005;</p>
        </div>
        <hr>
        <form action="/{{pokemon.id}}/add_to_team" method="POST" id="add-to-team">
        {% csrf_token %}
            {% for team in user.teams.all %}
            <div class="form-check">
                {% if pokemon in team.pkmn.all %}
                <input type="checkbox" class="form-check-input" disabled>
                <label class="form-check-label">{{team.name}} (Already added!)</label>
                {% elif team.pkmn.all|length == 6 %}
                <input type="checkbox" class="form-check-input" disabled>
                <label class="form-check-label">{{team.name}} (This team is full!)</label>
                {% else %}
                <input type="checkbox" class="form-check-input" name="teams" value="{{team.id}}">
                <label class="form-check-label">{{team.name}}</label>
                {% endif %}
            </div>
            {% empty %}
            <h4>No Teams yet!</h4>
            {% endfor %}
            {% if user.teams.all %}
            <div class="btn-container">
                <button class="btn btn-primary add">Add</button>
            </div>
            {% else %}
            <!-- dont display a button -->
            {% endif %}
        </form>
        <hr>
        <button class="btn btn-secondary create-team" id="create-team"><i class="material-icons">add</i> Create New Team</button>
        <form action="/{{pokemon.id}}/create_team" method="POST" class="new-team">
        {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control form-control-custom" placeholder="Enter Team name...">
            </div>
            <button class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<!------------- Added to Team Popup --------------->
<div class="popup-container">
    <!-- append popups here -->
</div>
{% endif %}
{% endblock %}