{% extends 'base.html' %}
{% load static %}

{% block title %}| {{user.username}}{% endblock %}

{% block main_nav %}
{% if request.session.userid %}
    <li class="bold"><a href="">{{user.username}}</a></li>
    <li class="bold"><a href="/logout">Logout</a></li>
    {% else %}
    <li class="bold"><a href="/login/register">Sign Up</a></li>
    <li class="bold"><a href="/login/">Login</a></li>  
{% endif %}
{% endblock %}

{% block mobile_nav %}
{% if request.session.userid %}
<li class="list-group-item bold"><a href="">{{user.username}}</a></li>
    <li class="list-group-item bold"><a href="/logout">Logout</a></li> 
    {% else %}
    <li class="list-group-item bold"><a href="/login/">Login</a></li> 
    <li class="list-group-item bold"><a href="/login/register">Sign Up</a></li>
{% endif %}
{% endblock %}

<!------------------------ Body ------------------------>
{% block content %}
<div class="column">
    <ul class="list-group list-group-profile">
        <li class="list-group-item">
            <h3>{{profile.first_name}} {{profile.last_name}} <span style="color: gray;">{{profile.username}}</span></h3>
        </li>
        <li class="list-group-item">
            <img src="{% static 'img/default-profiles/3m.png' %}" class="list-group-profile-img">
        </li>
        <li class="list-group-item team">
            <h4>Main Team</h4>
            {% for pkmn in profile.team.all %}
            <a href="/pkmn/{{pkmn.id}}">
                <img src="{{pkmn.sprite_url}}" alt="{{pkmn.name}}'s sprite">
            </a>
            {% endfor %}
        </li>
        <li class="list-group-item ">
            <div class="list-group-row">
                <h5>Friends</h5>
                <a href="">All ({{profile.friends.all | length}})</a>
            </div>
            <hr>
            <ul>
                {% for friend in profile.friends.all %}
                <li class="comment-head">
                    <img src="{% static 'img/default-profile/0.png' %}">
                    <p>{{friend.username}}</p>
                </li>
                {% empty %}
                <li>No friends yet!</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item ">
            <div class="list-group-row">
                <h5>Favorites</h5>
                <a href="">All ({{profile.favorites.all | length}})</a>
            </div>
            <hr>
            <ul style="margin: 0;">
                {% for fav in profile.favorites.all %}
                <li class="comment-head">
                    <img src="{{fav.sprite_url}}">
                    <a href="/pkmn/{{fav.id}}"><p>{{fav.name|title}}</p></a>
                </li>
                {% empty %}
                <li>No favorites yet!</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<br><br><br>
<div class="column timeline">
    {% if request.session.userid == profile.id %}
    <form action="/{{user.id}}/post_status" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <label>What's on your mind?</label><br><br>
            <textarea name="status" class="form-control" rows="3"></textarea>
        </div><br>
        <div class="btn-container">
            <button class="btn btn-primary">Post Status</button>
        </div>
    </form><br>
    {% else %}
    
    {% endif %}
    <ul class="list-group">
        {% for status in profile.statuses.all reversed %}
        <li class="list-group-item">
            <div class="comment-head">
                <img src="{% static 'img/default-profiles/3m.png' %}" alt="profile pic" class="comments-user-img">
                <div>
                    <a href="/{{status.added_by.id}}"><h5>{{status.added_by.username}}</h5></a>
                    <small>{{status.created_at}}</small><br>
                </div>
            </div>
            <p>{{status.content}}</p>
            <div class="list-group-row">
                {% if "userid" in request.session %}<a href="">Reply</a>{% endif %}
                {% if request.session.userid == status.added_by.id %}
                <a href="/{{status.id}}/delete_status" class="delete">Delete</a>
                {% endif %}
            </div>
            <div class="comment"><br><br>
            <form action="/{{user.id}}/post_status" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <textarea name="comment" class="form-control" rows="2"></textarea>
                </div><br>
                <div class="btn-container">
                    <button class="btn btn-primary">Leave Reply</button>
                </div>
            </form><!-- comment -->
          </div>
        </li>
        {% endfor %}
      </ul>
</div>
{% endblock %}