{% extends 'base.html' %}
{% load static %}

{% block title %}| {{user.username}}{% endblock %}

{% block main_nav %}
{% if request.session.userid %}
    <li class="bold"><a href="">{{user.username}}</a></li>
    <li class="bold"><a href="/logout">Logout</a></li>
    {% else %}
    <li class="bold"><a href="/login/register">Sign Up</a></li>
    <li class="bold"><a href="/login/">Login</a></li>  
{% endif %}
{% endblock %}

{% block mobile_nav %}
{% if request.session.userid %}
<li class="list-group-item bold"><a href="">{{user.username}}</a></li>
    <li class="list-group-item bold"><a href="/logout">Logout</a></li> 
    {% else %}
    <li class="list-group-item bold"><a href="/login/">Login</a></li> 
    <li class="list-group-item bold"><a href="/login/register">Sign Up</a></li>
{% endif %}
{% endblock %}

<!------------------------ Body ------------------------>
{% block content %}
<div class="column">
    <ul class="list_group">
        <li class="list-group-item">
            <h3>{{profile.first_name}} {{profile.last_name}} <span style="color: gray;">{{profile.username}}</span></h3>
        </li>
        <li class="list-group-item">
            <img src="{% static 'img/default-profiles/1m.png' %}">
        </li>
        <li class="list-group-item">
            {% for pkmn in profile.team.all %}
            <a href="/pkmn/{{pkmn.id}}">
                <img src="{{pkmn.sprite_url}}" alt="{{pkmn.name}}'s sprite">
            </a>
            {% endfor %}
        </li>
    </ul>
    <div class="profile-card-head">
       
    </div>
</div>
{% endblock %}