{% if "userid" not in request.session %}
    <!-- If no one is logged in, non-clickable heart is displayed -->
    <i class="material-icons">favorite_border</i>
{% elif user not in review.likes.all %}
    <!-- "Like Post" form -->
    <form action="/like_review" method="POST" id="like_form" review_id="{{review.id}}">
        {% csrf_token %}
        <input type="hidden" name="like" value="{{review.id}}">
        <button><i class="material-icons">favorite_border</i></button>
    </form>
{% else %}
    <!-- "Unlike Post" form -->
    <form action="/like_review" method="POST" id="like_form" review_id="{{review.id}}">
        {% csrf_token %}
        <input type="hidden" name="like" value="{{review.id}}">
        <button><i class="material-icons active">favorite</i></button>
    </form>
{% endif %}
<p>{{review.likes.all|length}}</p>
<!-- reply icon -->
<i class="material-icons reply" review_id="{{review.id}}">chat_bubble_outline</i>
<p>{{review.comments.all|length}}</p>