{% extends 'base.html' %}
{% load static %}
{% load pkmn_extras %}

{% block style %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'pkmn.css' %}">
    <link rel="stylesheet" href="{% static 'team.css' %}">
{% endblock %}

{% block title %}| {{team.name}}{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}

<!-- Left Column Content -->
<div class="column profile">
    <!--- Team Stat List --->
    <ul class="list-group">
        <li class="list-group-item">
            <h4>{{team.name}}</h4>
            <h6>by <a href="/profile/{{team.user.id}}">{{team.user.username}}</a></h6>
            <div class="icons">
                {% if "userid" not in request.session %}
                    <!-- If no one is logged in, non-clickable heart is displayed -->
                    <i class="material-icons">favorite_border</i>
                {% elif user not in team.likes.all %}
                    <!-- "Like Team" form -->
                    <form action="/like_team" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{team.id}}">
                        <button><i class="material-icons">favorite_border</i></button>
                    </form>
                {% else %}
                    <!-- "Unlike Team" form -->
                    <form action="/like_team" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="like" value="{{team.id}}">
                        <button><i class="material-icons active">favorite</i></button>
                    </form>
                {% endif %} 
                <h5 class="bold">{{team.likes.all | length}}</h5>
            </div>
            {% if "userid" in request.session %}
            {% if request.session.userid == team.user.id %}
            <!-- Edit Team Icon -->
            <i class="material-icons edit-team">border_color</i>
            {% endif %}
            {% endif %}
        </li>
        <!-- Team Stat Averages -->
        {% for key, value in s_table.items %}
        <li class="list-group-item striped">
            <p class="bold">{{key}}</p>
            <span>{{value}}</span>
        </li>
        {% endfor %}
        <li class="list-group-item" id="toggle-stats">
            <p>Hide/Display Team Stats</p>
        </li>
    </ul><br>

    <!--- Weakness/Resistance List --->
    <ul class="list-group">
        <li class="list-group-item">
            <h5 class="bold">Resistance Rating</h5>
        </li>
        <!-- Weakness/Resistance Table -->
        <li class="list-group-item chart-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Types</th>
                        <th scope="col"><i class="material-icons weak">radio_button_checked</i></th>
                        <th scope="col"><i class="material-icons flip-y resist">arrow_drop_down_circle</i></th>
                        <th scope="col"><i class="material-icons immune">remove_circle</i></th>
                    </tr>
                </thead>

                <!-- Populate from backend based on Team types -->
                <tbody>
                    {% for key, value in r_table.items %}
                    <tr>
                        <th scope="row">{{key|title}}</th>
                        {% for i in value %}
                            {% for k, v in i.items %}
                                {% if v > 4 %}
                                <td class="high {{k}}">{{v}}</td>
                                {% elif v > 2 %}
                                <td class="mid {{k}}">{{v}}</td>
                                {% else %}
                                <td>{{v|check_zero}}</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        <li class="list-group-item" id="toggle-weakness">
            <p>Hide/Display Resistances</p>
        </li>
    </ul>

</div><br><br>

<!-- Right column content -->
<div class="column posts">
    <div class="card team-grid">
        {% for pokemon in team.pkmn.all %}
        <a href="/{{pokemon.id}}">
            <img src="{{pokemon.art_url}}" alt="">
            <p>{{pokemon.name|title}}</p>
            <div class="type-container">
                {% for type in pokemon.types.all %}
                <span class="type {{type.name}}">{{type.name|title}}</span>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div><br>

    {% if "userid" not in request.session %}
    <!-- If no one is logged in, don't display comment form -->
    {% else %}
    <!-- Comment Form -->
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{user.default_img}}.png" alt="profile pic" class="card-item user-img {{user.bg_color}} form-post-img">
        <form action="/{{team.id}}/comment_team" method="POST">
            {% csrf_token %}
            <textarea class="form-control form-control-custom" name="comment" rows="1" placeholder="Thoughts on {{team.name}}?"></textarea>
            <div class="btn-container">
                <button class="btn btn-primary btn-post">Post</button>
            </div>
        </form>
    </div>
    {% endif %}
    
    <!--- Team Comments --->
    {% for comment in team.comments.all reversed %}
    {% if comment.added_by %}
    <div class="card">
        <img src="{% static '' %}img/default-profiles/{{comment.added_by.default_img}}.png" alt="profile pic" class="card-item user-img {{comment.added_by.bg_color}}">
        <div class="card-item card-item-content">
            <a href="/profile/{{comment.added_by.id}}"><p class="bold">{{comment.added_by.first_name}} {{comment.added_by.last_name}} </a><span>{{comment.added_by.username}}</span></p>
            <p>{{comment.content}}</p>
            <p class="time">{{comment.created_at}} {% if request.session.userid == comment.added_by.id %}| <a href="/{{comment.id}}/delete_team_comment"><i class="material-icons">delete</i></a>{% endif %}</p>
        </div>
        <!-- Side icons -->
        <div class="card-item-icons">
            {% if "userid" not in request.session %}
            <!-- If no one is logged in, non-clickable heart is displayed -->
            <i class="material-icons">favorite_border</i>
            {% elif user not in comment.likes.all %}
            <!-- "Like Comment" form -->
            <form action="/like_team_comment" method="POST">
                {% csrf_token %}
                <input type="hidden" name="like" value="{{comment.id}}">
                <button><i class="material-icons">favorite_border</i></button>
            </form>
            {% else %}
            <!-- "Unlike Comment" form -->
            <form action="/like_team_comment" method="POST">
                {% csrf_token %}
                <input type="hidden" name="like" value="{{comment.id}}">
                <button><i class="material-icons active">favorite</i></button>
            </form>
            {% endif %}
            <p>{{comment.likes.all|length}}</p>
        </div>
    </div>
    {% else %}
    <div class="card update">
        {% for p in comment.pkmn.all %}
        <p><a href="/{{p.id}}">{{p.name|title}} </a>{{comment.content}}</p>
        <p class="time">{{comment.created_at}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>


{% if "userid" in request.session %}
{% if request.session.userid == team.user.id %}
<!------------ Add to Team Modal ------------>
<div class="modal-bg">
    <!-- Add to team -->
    <div class="edit-profile-modal">
        <div class="modal-head">
            <h4>Edit Team</h4>
            <p id="close">&#10005;</p>
        </div>
        <hr>
        <form action="/{{team.id}}/update_team" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label>Name</label><br><br>
                <input type="text" name="name" value="{{team.name}}" class="form-control form-control-custom">
            </div>
            <!-- current team members -->
            <div class="team-grid">
                {% for pokemon in team.pkmn.all %}
                <div class="remove-pkmn-container">
                    <img src="{{pokemon.sprite_url}}" alt="">
                    <input type="checkbox" class="form-check-input" name="pkmn" value="{{pokemon.id}}">
                </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}