{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'logres.css' %}">
{% endblock %}

{% block title %}| Login{% endblock %}

{% block content %}
<div class="log-wrapper">
    <div class="logres">
        <h2>Login</h2>
        <!-- Display Error Messages if any -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/login/user_login" method="POST" id="login">
            {% csrf_token %}
            <div class = "form-row">
                <label>Email</label>
                <div>
                    <input type="email" name="email" class="form-control">
                </div>
            </div>
            <div class = "form-row">
                <label>Password</label>
                <div>
                    <input type="password" name="pw" class="form-control">
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary">Log In</button>
                <a class="btn btn-secondary" href="/login/register">Create New Account</a>
            </div>
        </form>
    </div><!--logres-->
    
    <div class="tag" style="width: 650px;">
        <h3 style="text-align: center;">Welcome back!</h3>
        <img src="{% static 'img/pkmn.png' %}" alt="trainer with 6 pokemon" style="width: 100%;">
    </div><!-- tag -->
</div><!-- log-wrapper -->
{% endblock %}