{% extends 'base.html' %}

{% load static %}

{% block title %}| Sign Up{% endblock %}

{% block content %}
<div class="log-wrapper">
    <div class="logres">
        <h2>Register</h2>
        <!-- Display error messages if any -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/login/signup" method="POST" id="registration" class="needs-validation">
            {% csrf_token %}
            <div class="form-group">
                <label>First Name</label>
                <div>
                    <input type="text" name="fname" class="form-control" id="mymin">
                </div>
            </div>
            <div class = "form-row">
                <label>Last Name</label>
                <div>
                    <input type="text" name="lname" class="form-control">
                </div>
            </div>
            <div class = "form-row">
                <label>Username</label>
                <div>
                    <input type="text" name="username" class="form-control">
                </div>
            </div>
            <div class = "form-row">
                <label>Email</label>
                <div>
                    <input type="email" name="email" class="form-control">
                </div>
            </div>
            <div class = "form-row">
                <label>Password</label>
                <div>
                    <input type="password" name="pw" class="form-control pw">
                </div>
            </div>
            <div class = "form-row">
                <label>Confirm Password</label>
                <div id="confirm-pw-input">
                    <input type="password" name="confirm" class="form-control confirm">
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary">Sign up</button>
                <a class="btn btn-secondary" href="/login">Log in</a>
            </div>
        </form>
    </div><!-- logres -->
    
    <div class="tag">
        <h3>Join a vast community of <span>Pokemon Trainers</span> from all over the world!</h3>
        <img src="{% static 'img/pokeball.png' %}" alt="">
    </div><!-- tag -->
</div><!-- log-wrapper -->
{% endblock %}