.message-list {
    max-width: 500px;
    margin: 0 auto;
}
.card {
    align-items: center;
}
    .card:hover {
        background-color: #404040;
    }
    .card a {
        width: 10%;
        min-width: 42px;
    }
    .card a img {
        width: 100%;
        min-width: 42px;
        height: unset;
    }
    .card .card-item-content {
        cursor: pointer;
    }
    .card .card-item-content div {
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .card .card-item-content div p {
        margin-bottom: 0;
    }
    .card .card-item-content > p {
        color: gray;
        font-size: 0.8em;
    }
/* Messages Column */
.messages {
    display: none;
    position: fixed;
    background-color: var(--secondary);
    top: 80px;
    right: 15px;
    left: 15px;
    max-width: 500px;
    margin: 0 auto;
    height: -webkit-fill-available;
    animation: overlay .3s forwards;
}
/* Message Header Style */
.ms-header {
    text-align: center;
    padding-bottom: 10px;
}
    .ms-header .user-img {
        width: 15%;
        height: unset;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ms-header p {
        margin-bottom: 10px;
        font-size: 1.15em;
    }
    .ms-header i {
        position: absolute;
        left: 0;
        top: 30px;
        cursor: pointer;
    }
        .ms-header i:hover {
            color: var(--third);
        }
/* Message Styles */
.msg-container {
    overflow: auto;
    position: fixed;
    top: 200px;
    bottom: 151px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    background-color: #151515;
}
    .msg-container p {
        font-size: 0.8em;
    }
    .msg-container .time {
        position: relative;
        top: -10px;
        width: 100%;
        display: block;
    }
.sent-container {
    width: 75%;
    margin-left: auto;
    margin-bottom: 15px;
}
    .sent-container .time {
        margin-left: auto;
        text-align: end;
    }
.sent {
    background-color:#4cb9f3;
    color: var(--secondary);
    font-weight: 500;
    padding: 10px;
    border-radius: .3rem .3rem 0 .3rem;
}
.recieved-container {
    width: 75%;
    margin-right: auto;
    margin-bottom: 15px;
}
.recieved {
    background-color:#555555;
    color: var(--fifth);
    padding: 10px;
    border-radius: .3rem .3rem .3rem 0;
}
/* Scroll bar styles */
#style-3::-webkit-scrollbar {
    width: 5px;
    background-color: var(--secondary);
    }
    #style-3::-webkit-scrollbar-thumb {
    background-color: var(--fourth);
    border: 1px solid #444444;
    border-radius: 0.5rem;
    }
        #style-3::-webkit-scrollbar-thumb:hover {
        background-color: #444444;
        }
/* Form Styles */
form.card {
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    bottom: 78px;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
}
    form.card textarea {
        width: 80%;
    }
    form.card button {
        all: unset;
    }
        form.card button i {
            position: relative;
            bottom: -10px;
            cursor: pointer;
        }
            form.card button i:hover {
                color: var(--third);
            }
/* Message List animation */
@keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*-------------------- At 550px --------------------*/
@media only screen and (min-width: 550px) {
    /* Message Styles */
    .msg-container {
        top: 225px;
        bottom: 80px;
    }
    /* Form Styles */
    form.card {
        bottom: 0;
    }
}

/*-------------------- At 1080px --------------------*/
@media only screen and (min-width: 1080px) {
    /* Message Styles */
    .msg-container {
        top: 243px;
        bottom: 70px;
    }
    .messages {
        position: static;
        /* display: block !important; */
    }
    .ms-header i {
        display: none;
    }
    /* Form Styles */
    form.card {
        left: unset;
        right: unset;
        margin: unset;
        width: 100%;
        max-width: 500px;
    }
}