body {
    position: relative;
}
/* Profile info/ Left column styles */
.profile {
    max-width: 500px;
    margin: 0 auto;
}
.list-group-item:not(:first-child) {
    display: flex;
    justify-content: space-between;
}
.list-group-item {
    background-color: var(--fourth);
    color: var(--fifth);
    text-align: center;
    padding: 1.5rem 2.5rem;
    border: 1px solid rgb(255 255 255 / 13%);
}
    .list-group-item img {
        border-radius: 50%;
        width: 50%;
        margin: 24px 0;
    }
    .list-group-item h4 {
        margin-bottom: .25rem;
    }
    .list-group-item h6 {
        margin: 0rem;
        color: gray;
    }
    .follow-cnt {
        display: flex;
        justify-content: space-around;
    }
        .follow-cnt p {
            color: gray;
            margin: 0;
            cursor: pointer;
        }
            .follow-cnt p span {
                color: var(--fifth);
            }
    .interact {
        position: relative;
        padding: .8rem 2.5rem;
    }
    .msg {
        display: flex;
        align-items: center;
    }
        .interact i {
            position: relative;
            margin-right: 10px;
        }
        .interact p {
            margin:0;
            cursor: pointer;
        }
            .interact p:hover {
                color: var(--third);
            }
        .interact form button {
            all: unset;
            cursor: pointer;
        }
            .interact form button:hover {
                color: var(--third);
            }
        .interact .btn {
            margin: 0;
        }
        .interact .follow {
            display: flex;
            align-items: center;
            font-size: .85em;
        }
    .striped {
        padding: .6rem 2.5rem;
    }
        .striped p, .striped span {
            margin-bottom: 0;
            font-size: .7em;
        }
        .striped:nth-of-type(odd) {
            background-color: #444444;
        }

/* Posts/ Right comlumn styles */
.posts {
    max-width: 500px;
    margin: 0 auto;
}
.card-item span.star {
    font-size: 1.25em;
}
.card h5 {
    width: 100%;
    text-align: center;
}
.card h6 {
    margin: 0;
}
.pkmn-img {
    display: none;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background-color: #424242;
}
/* Tab Styles */
.tab-nav {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    width: 100%;
}
    .tab-nav li {
        flex: 1 0 20%;
        text-align: center;
    }
        .tab-nav li a {
            padding: 10px;
            display: block;
            background-color: var(--fourth);
            border-radius: .25rem .25rem 0 0;
            font-size: 0.75em;
        }
        .tab-nav li a.active {
            border-bottom: 2px solid var(--third);
        }

/* Favorites Styles */
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    row-gap: 1.25rem;
}
    .card-grid h5 {
        grid-column: 1 / span 4;
    }
    .card-grid a img {
        border-radius: 50%;
        background-color: #444444;
        width: 70%;
        margin-bottom: 10px;
        margin-top: 20px;
        transition: transform .2s;
    }
        .card-grid a img:hover {
            transform: scale(1.125);
        }

/* Team Tab Styles */
.card h5.team-title {
    text-align: left;
    margin-bottom: 20px;
}
.team-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}
.team-grid a {
    text-align: center;
    width: 100%;
}
    .team-grid a img {
        background-color: #444444;
        border-radius: 50%;
        transition: transform .2s;
        width: 60%;
        margin-bottom: 10px;
    }
        .team-grid a img:hover {
            transform: scale(1.0625);
        }
    


/* "Edit profile" modal styles */
.modal-bg {
    display: none;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    z-index: 25;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.edit-profile-modal {
    margin: auto;
    width: 100%;
    max-width: 500px;
    background-color: var(--fourth);
    padding: 30px;
    border-radius: .5rem;
    border: 1px solid var(--secondary);
    animation: zoom 0.3s forwards;
    -webkit-animation: zoom 0.3s forwards;
}
    .edit-profile-modal .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        text-align: center;
    }
        .edit-profile-modal .colors {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    .edit-profile-modal h6 {
        margin-bottom: 30px;
    }
    .edit-profile-modal h6.select {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .edit-profile-modal .time {
        width: 100%;
    }
    .edit-profile-modal img {
        width: 100%;
        cursor: pointer;
        transition: transform .2s;
    }
        .edit-profile-modal img:hover {
            transform: scale(1.0625)
        }
    .edit-profile-modal span {
        cursor: pointer;
        width: 100%;
        border-radius: .5rem;
        transition: transform .2s;
    }
        .edit-profile-modal span:hover {
            transform: scale(1.0625)
        }
        .edit-profile-modal span::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    .modal-head {
        display: flex;
        justify-content: space-between;
    }
    .edit-profile-modal .form-group {
        margin-bottom: 20px;
    }
/*follow/following modal*/
.follow-list-modal {
    display: none;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    z-index: 25;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation: zoom 0.3s forwards;
    -webkit-animation: zoom 0.3s forwards;
}
.follow-list-modal .list {
    max-width: 500px;
    margin: 0 auto;
}
.follower-list {
    display: none;
}
.follow-list-control, .follow-list-control ul {
    display: flex;
    align-items: center;
}
    .follow-list-control {
        justify-content: space-between;
    }
    .follow-list-control ul {
        margin-bottom: 0;
    }
        .follow-list-control li {
            background-color: var(--fourth);
            padding: 5px 20px;
            margin-right: 10px;
            border-radius: .25rem .25rem 0 0;
            cursor: pointer;
        }
            .follow-list-control li.active {
                border-bottom: 2px solid var(--third);
            }
    .follow-list-control p {
        margin-bottom: 0;
        font-size: 1.5em;
        cursor: pointer;
    }
.follow-list-modal .card {
    align-items: center;
}
    .follow-list-modal .card p {
        margin: 0;
    }

/* Modal "X" */
#close {
    cursor: pointer;
}

/* Modal animation */
@keyframes zoom {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}
@-webkit-keyframes zoom {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    } 
}

/*-------------------- At 550px --------------------*/
@media only screen and (min-width: 550px) {
    .list-group-item img {
        border-radius: 50%;
        width: 90%;
        margin: 45px 0;
    }
    .striped p, .striped span {
        font-size: .8em;
    }
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .team-grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
    }
    .tab-nav li a {
        font-size: 1em;
    }
    .pkmn-img {
        display: block;
    }
}

/*-------------------- At 1080px --------------------*/
@media only screen and (min-width: 1080px) {
    .profile {
        width: 39%;
        margin: 0;
    }
    .posts {
        max-width: none;
        width: 58%;
    }
}