{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load pkmn_extras %}

{% block style %}
    <link rel="stylesheet" href="{% static 'pkmn.css' %}">
    <link rel="stylesheet" href="{% static 'results.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'search.js' %}" defer></script>
{% endblock %}

{% block title %}| Dex{% endblock %}


<!------------------------ Body ------------------------>
{% block content %}
<div class="column">
    <h2>Pokedex</h2>

    <!--- Filter Form --->
    <form action="/search/dex" class="filter-form">
        <label>Gen</label>
        <!-- Filter Generation -->
        <select name="gen" class="form-control-custom">
            <option value="all">All</option>
            {% for n in '12345678'|make_list %}
                {% if "gen" in request.GET %}
                    {% if gen == n %}
                    <option value="{{n}}" selected>{{n}}</option>
                    {% else %}
                    <option value="{{n}}">{{n}}</option>
                    {% endif %}
                {% else %}
                <option value="{{n}}">{{n}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <!-- Filter Type -->
        <label>Type</label>
        <select name="type" class="form-control-custom">
            <option value="all">All</option>
            {% for t in types %}
                {% if gen %}
                    {% if type|num_to_type == t.name %}
                    <option value="{{t.id}}" selected>{{t.name|title}}</option>
                    {% else %}
                    <option value="{{t.id}}">{{t.name|title}}</option>
                    {% endif %}
                {% else %}
                <option value="{{t.id}}">{{t.name|title}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <button class="btn btn-secondary">Filter</button>
    </form>

    <!-- Showing "X" type from "X generation" -->
    {% if gen %}
        {% if gen != "all" and type != "all" %}
        <h5>Showing all {{ type|num_to_type|title }} types from {{gen|ordinal}} generation</h5>
        {% elif type != "all" %}
        <h5>Showing all {{ type|num_to_type|title }} types from each generation</h5>
        {% else %}
        <h5>Showing all types from {{gen|ordinal}} generation</h5>
        {% endif %}
    {% else %}
        <h5>Showing all types from each generation</h5>
    {% endif %}
    
    <!-- Load Pokemon here -->
    <div class="results dex infinite-container">
        {% for pkmn in pokemon.object_list %}
        <a href="/{{pkmn.id}}" class="infinite-item">
            <div class="card">
                {% if pkmn.id < 10 %}
                    <small>#00{{pkmn.id}}</small>
                    {% elif pkmn.id < 100 %}
                    <small>#0{{pkmn.id}}</small>
                    {% else %}
                    <small>#{{pkmn.id}}</small>
                {% endif %}
                <img src="{{pkmn.art_url}}" alt="{{pkmn.name}}'s art">
                <h6>{{pkmn.name|title}}</h6>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- Load next block of 24 pokemon when this comes into view -->
    {% if pokemon.has_next %}
        {% if gen %}
            <a class="infinite-more-link" href="?gen={{ gen }}&type={{ type }}&page={{ pokemon.next_page_number }}"></a>
        {% else %}
            <a class="infinite-more-link" href="?page={{ pokemon.next_page_number }}"></a>
        {% endif %}
    {% endif %}

    <!-- displays while next batch of Pokemon loads -->
    <div class="loading" style="display: none;">
        Loading...
    </div>
</div>

<!-- Waypoint script handling dynamic loading -->
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.results')[0],
        onBeforePageLoad: function(){
            $('.loading').show();
        },
        onAfterPageLoad: function($items) {
            $('.loading').hide();
        }
    });
</script>
{% endblock %}